---
// About Section Component
---

<section id="About" class="About section-bg">
  <div class="container">
    <div class="section-title">
      <p>&nbsp;</p>
      <div class="container_title">
        <div class="Title">
          <h1 class="Title_h1">About
            <div class="Title__highlight"></div>
          </h1>
          <div class="Title__underline"></div>
          <div aria-hidden class="Title__filled">About</div>
        </div>
      </div>
      <div class="height_divider_1"></div>

      <div class="circle_r">
        <div class="slider_cube">
          <div class="container_cube">
            <div class="slide_cube x"></div>
            <div class="slide_cube y"></div>
            <div class="slide_cube z"></div>
          </div>
          <div class="shadow_cube"></div>
        </div>
      </div>

      <h3 class="intro_text">Welcome to the digital realm where creativity meets functionality. I'm Black Raven, a seasoned web designer and developer with 14 years of hands-on experience crafting immersive online experiences. Armed with a Bachelor of Science in Information Technology, I've honed my skills to become a versatile force in the digital landscape.<br><br>

        My journey began with a passion for pixel-perfect design and an insatiable curiosity for technology. Over the years, I've mastered the art of web design and coding, seamlessly blending aesthetics with functionality to bring visions to life. Whether it's creating sleek and responsive websites, designing captivating logos, or crafting cohesive branding strategies, I thrive on transforming ideas into visual masterpieces.<br><br>
        
        But my expertise doesn't stop there. I'm also well-versed in the realms of advertisement, animation, image editing, and content management. From dynamic ad campaigns that demand attention to captivating animations that breathe life into your brand, I leverage every tool at my disposal to tell compelling stories and captivate audiences.<br><br>
        
        At the core of my approach lies a deep understanding of design as a philosophical handcraft. I believe in the magic of details and the transformative power of creativity. Every project is an opportunity to weave love, light, and rhythm into the digital fabric, leaving a lasting impression that resonates with your audience.<br><br>
        
        Based in Cavite, Philippines, I draw inspiration from the rich tapestry of culture and heritage that surrounds me. It's here, amidst the hustle and bustle of daily life, that I find the fuel to drive innovation and push boundaries.<br><br>
        
        So whether you're looking to elevate your online presence, breathe new life into your brand, or embark on a digital adventure, you've come to the right place. Let's collaborate and bring your vision to life in ways you never thought possible.<br><br>
        
        Let's create something extraordinary, together.</h3>
    </div>
    <ul class="stage clearfix">
      <li class="scene">
        <div class="movie" onclick="return true">
          <div class="poster"></div>
          <div class="info">
            <header>
              <h1>Ichiran Ramen</h1>
            </header>
            <p> Enim tortor at auctor urna nunc id cursus metus aliquam. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer. Augue neque gravida in fermentum et. Mauris nunc congue nisi vitae suscipit tellus mauris a. </p>
          </div>
        </div>
      </li>
      <li class="scene">
        <div class="movie" onclick="return true">
          <div class="poster"></div>
          <div class="info">
            <header>
              <h1>Narita Airport</h1>
            </header>
            <p> Enim tortor at auctor urna nunc id cursus metus aliquam. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer. Augue neque gravida in fermentum et. Mauris nunc congue nisi vitae suscipit tellus mauris a.</p>
          </div>
        </div>
      </li>
      <li class="scene">
        <div class="movie" onclick="return true">
          <div class="poster"></div>
          <div class="info">
            <header>
              <h1>Tokyo Disney land</h1>
            </header>
            <p> Enim tortor at auctor urna nunc id cursus metus aliquam. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer. Augue neque gravida in fermentum et. Mauris nunc congue nisi vitae suscipit tellus mauris a.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
