---
// Experience Section Component
---

<section id="Experience" class="TIMELINE section-bg">
  <div class="container">
    <div class="section-title">
      <div class="height_divider_1"></div>
      <div class="container_title">
        <div class="Title">
          <h1 class="Title_h1">EXPERIENCE
            <div class="Title__highlight"></div>
          </h1>
          <div class="Title__underline"></div>
          <div aria-hidden class="Title__filled">EXPERIENCE</div>
        </div>
      </div>
      <div class="height_divider_1"></div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-timeline">
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-icon">
                  <img class="timeline_logo" style="width: 90%; margin: -2px 0 0 0;" src="http://ferdinandestoque.com/img/vis.gif">
                </div>
                <div class="timeline-year">2025</div>
                <h3 class="title">Visa</h3>
                <p class="description">
                  <strong> IMPLEMENTATION ANALYST </strong>
                  <br>
                  AEM, Adobe Creative Suite, Bastion Host(SSH/RDP), JIRA, SharePoint, Figma, TFS, Github(CI/CD), Jenkins<br> Fulltime
                </p>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-icon">
                  <img class="timeline_logo" style="width: 90%; margin: -6px 0 0 0;" src="http://ferdinandestoque.com/img/qdf.gif">
                </div>
                <div class="timeline-year">2016</div>
                <h3 class="title">QUINN DATA FACILITIES, INC.</h3>
                <p class="description">
                  <strong>BACK-END WEB DEVELOPER</strong>
                  <br>
                  Laravel, MySQL, MsSQL, Git, Postgres, Wordpress, Bootstrap, HTML5, CSS, JS <br> Fulltime
                </p>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-icon">
                  <img class="timeline_logo" style="width: 78%; margin: -6px 0 0 0;" src="http://ferdinandestoque.com/img/smrt.gif">
                </div>
                <div class="timeline-year">2015</div>
                <h3 class="title"> SMART COMMUNICATION, INC.</h3>
                <p class="description">
                  <strong>IT CONSULTANT/FRONT-END WEB DEVELOPER</strong>
                  <br>
                  Sitefinity, ASP.NET, C#, Bootstrap, HTML5, CSS, JS, JQUERY, SEO <br> Contractual
                </p>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-icon">
                  <img class="timeline_logo" style="width: 79%; margin: -7px 0 0 0;" src="http://ferdinandestoque.com/img/ndq.gif">
                </div>
                <div class="timeline-year">2014</div>
                <h3 class="title">NASDAQ</h3>
                <p class="description">
                  <strong>WEB DESIGNER DEVELOPER</strong>
                  <br>
                  Phoenix, Web360, Bootstrap, Foundation, ColdFusion, HTML5, XSLT, CSS, JS <br> Contractual
                </p>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-icon">
                  <img class="timeline_logo" style="width: 77%; margin: -6px 0 0 0;" src="http://ferdinandestoque.com/img/cpr.gif">
                </div>
                <div class="timeline-year">2013</div>
                <h3 class="title">CROSSPOWER PHILS, INC.</h3>
                <p class="description">
                  <strong>MULTIMEDIA WEB DESIGNER</strong>
                  <br>
                  Wordpress, Genesis, Git, Initializr, PHP/Mysql, Bootstrap, HTML5, JS, CSS <br> Project based
                </p>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-icon">
                  <img class="timeline_logo" style="width: 87%; margin: -8px 0 0 0;" src="http://ferdinandestoque.com/img/spi1.gif">
                </div>
                <div class="timeline-year">2008</div>
                <h3 class="title">SPI GLOBAL</h3>
                <p class="description">
                  <strong>SENIOR WEB CONTENT EDITOR/ANALYST</strong>
                  <br>
                  Arbortext, Contenta DB, SGML, DTD, DHTML, XHTML, XML, CSS, JIRA, Citrix <br> Fulltime
                </p>
              </a>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
