---
// Footer Component
---

<footer id="footer">
  <div class="footer-top">
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3 style="color: azure;">Ferdinand Estoque</h3>
            <p>Bacoor Cavite <br> Philippines <br>
              <br>
              <strong>Phone:</strong> <p><a href="tel:+639958143127">+63 995 814 3127</a></p><br>
              <strong>Email:</strong>ferdinand.estoque@yahoo.com <br>
            </p>
            <br>
            <p class="pb-3">
              <em>Follow me around the web</em>
            </p>
            <div class="social-links mt-3">
              <a href="https://github.com/festoqufx" target="_blank" class="github">
                <i class="bx bxl-github"></i>
              </a>
              <a href="https://www.facebook.com/blackraven.estoque" target="_blank" class="facebook">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="https://www.instagram.com/ravenom_007" class="instagram" target="_blank">
                <i class="bx bxl-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/in/ferdinand-estoque-46797876" target="_blank" class="linkedin">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="#" class="twitter" target="_blank">
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/">Home</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#About">About</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#services">Services</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#portfolio">Gallery</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#testimonials">Testimonials</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Services</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#services">Web Design</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#services">Web Development</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#services">Print Design</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#services">Marketing</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#services">Graphic Design</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Newsletter</h4>
          <form action="" method="post">
            <input type="email" name="email">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright"><span id="demo"></span>&nbsp;© Copyright&nbsp;<strong><span>FERDINAND ESTOQUE</span></strong>.&nbsp;All&nbsp;Rights&nbsp;Reserved</div>
  </div>
  <br><br>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>

<script>
  const d = new Date();
  let year = d.getFullYear();
  document.getElementById("demo").innerHTML = year;
</script>
