---
// SliceBox Gallery Component
---

<section id="GALLERY" class="TIMELINE section-bg">
  <p>&nbsp;</p>
  <div class="container">
    <div class="wrapper slicebox">
      <ul id="sb-slider" class="sb-slider">
        <li>
          <img src="/assets/img/portfolio/portfolio-1.jpg" alt="gallery-1" />
          <div class="sb-description">
            <h3>LOGO 1</h3>
          </div>
        </li>
        <li>
          <img src="/assets/img/portfolio/portfolio-2.jpg" alt="gallery-2" />
          <div class="sb-description">
            <h3>LOGO 2</h3>
          </div>
        </li>
        <li>
          <img src="/assets/img/portfolio/portfolio-3.jpg" alt="gallery-3" />
          <div class="sb-description">
            <h3>LOGO 3</h3>
          </div>
        </li>
        <li>
          <img src="/assets/img/portfolio/portfolio-4.jpg" alt="gallery-4" />
          <div class="sb-description">
            <h3>LOGO 4</h3>
          </div>
        </li>
        <li>
          <img src="/assets/img/portfolio/portfolio-5.jpg" alt="gallery-5" />
          <div class="sb-description">
            <h3>LOGO 5</h3>
          </div>
        </li>
        <li>
          <img src="/assets/img/portfolio/portfolio-6.jpg" alt="gallery-6" />
          <div class="sb-description">
            <h3>LOGO 6</h3>
          </div>
        </li>
        <li>
          <img src="/assets/img/portfolio/portfolio-7.jpg" alt="gallery-7" />
          <div class="sb-description">
            <h3>LOGO 7</h3>
          </div>
        </li>
      </ul>
      <div id="shadow" class="shadow"></div>
      <div id="nav-arrows" class="nav-arrows">
        <a href="#">Next</a>
        <a href="#">Previous</a>
      </div>
      <div id="nav-dots" class="nav-dots">
        <span class="nav-dot-current"></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  
  <script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
      if (window.jQuery && window.Slicebox) {
        jQuery.Slicebox.init('#sb-slider', {
          speed: 800,
          autoplay: true
        });
      } else {
        var interval = setInterval(function() {
          if (window.jQuery && window.Slicebox) {
            jQuery.Slicebox.init('#sb-slider', {
              speed: 800,
              autoplay: true
            });
            clearInterval(interval);
          }
        }, 100);
        setTimeout(function() {
          clearInterval(interval);
        }, 5000);
      }
    });
  </script>
</section>
