---
// Hobbies and Interests Section
---

<section id="TIMELINE" class="TIMELINE section-bg">
  <div class="container">
    <div class="section-title">
      <p>&nbsp;</p>
      <div class="height_divider_1"></div>
      <div class="container_title">
        <div class="Title">
          <h1 class="Title_h1">HOBBIES and INTERESTS
            <div class="Title__highlight"></div>
          </h1>
          <div class="Title__underline"></div>
          <div aria-hidden class="Title__filled">HOBBIES and INTERESTS</div>
        </div>
      </div>
      <div class="height_divider_1"></div>
         
      <div class="figure_box">
        <figure class="snip1229">
          <img src="/img/icons/icons_1.png" alt="coding" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3>Hobbies</h3>
            </div>
            <p>CODING</p>
          </figcaption>
        </figure>
        <figure class="snip1229">
          <img src="/img/icons/icons_3.png" alt="gym" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3>Hobbies</h3>
            </div>
            <p>GYM</p>
          </figcaption>
        </figure>
        <figure class="snip1229">
          <img src="/img/icons/icons_2.png" alt="games" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3>Hobbies</h3>
            </div>
            <p>GAMES</p>
          </figcaption>
        </figure>
        <figure class="snip1229">
          <img src="/img/icons/icons_5.png" alt="movies" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3>Hobbies</h3>
            </div>
            <p>MOVIES</p>
          </figcaption>
        </figure>
        <figure class="snip1229">
          <img src="/img/icons/icons_7.png" alt="painting" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3>Hobbies</h3>
            </div>
            <p>PAINTING</p>
          </figcaption>
        </figure>
      </div>

      <div class="figure_box">
        <br>
        <figure class="snip1229">
          <img src="/img/icons/icons_6.png" alt="music" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3><span>Interest</span></h3>
            </div>
            <p>MUSIC</p>
          </figcaption>
        </figure>
        <figure class="snip1229">
          <img src="/img/icons/icons_4.png" alt="martial-arts" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3><span>Interest</span></h3>
            </div>
            <p>MARTIAL ARTS</p>
          </figcaption>
        </figure>
        <figure class="snip1229">
          <img src="/img/icons/icons_8.png" alt="photography" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3><span>Interest</span></h3>
            </div>
            <p>PHOTOGRAPHY</p>
          </figcaption>
        </figure>
        <figure class="snip1229">
          <img src="/img/icons/icons_9.png" alt="reading" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3><span>Interest</span></h3>
            </div>
            <p>READING</p>
          </figcaption>
        </figure>
        <figure class="snip1229">
          <img src="/img/icons/icons_10.png" alt="travel" />
          <figcaption class="figcaption_img">
            <div class="heading">
              <h3><span>Interest</span></h3>
            </div>
            <p>TRAVEL</p>
          </figcaption>
        </figure>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="height_divider_1"></div>
  </div>
</section>
