---
// Services Section Component
---

<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <div class="height_divider_1"></div>
      <div class="container_title">
        <div class="Title">
          <h1 class="Title_h1">Services
            <div class="Title__highlight"></div>
          </h1>
          <div class="Title__underline"></div>
          <div aria-hidden class="Title__filled">Services</div>
        </div>
      </div>
      <div class="height_divider_1"></div>
    </div>
    <div class="row services_section">
      <div class="col-md-6 mt-4 mt-md-0 animate__animated animate__backInDown animate__delay-5s">
        <div class="icon-box">
          <i class="bi bi-window-fullscreen"></i>
          <h4>
            <a href="#">Web Development</a>
          </h4>
          <p>Web development refers to the creating, building, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e. websites.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0 animate__animated animate__backInDown animate__delay-5s">
        <div class="icon-box">
          <i class="bi bi-wordpress"></i>
          <h4>
            <a href="#">Web Design</a>
          </h4>
          <p>Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; UI design; authoring, including standardised code and proprietary software; UX design; and SEO.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0 animate__animated animate__backInLeft animate__delay-7s">
        <div class="icon-box">
          <i class="bi bi-camera2"></i>
          <h4>
            <a href="#">Rebranding</a>
          </h4>
          <p>Rebranding is a marketing strategy in which a new name, term, symbol, design, concept or combination thereof is created for an established brand with the intention of developing a new, differentiated identity in the minds of consumers, investors, competitors, and other stakeholders</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0 animate__animated animate__backInRight animate__delay-7s">
        <div class="icon-box">
          <i class="bi bi-textarea-t"></i>
          <h4>
            <a href="#">Illustration</a>
          </h4>
          <p>An illustration is a decoration, interpretation, or visual explanation of a text, concept, or process, designed for integration in print and digitally published media, such as posters, flyers, magazines, books, teaching materials, animations, video games and films.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0 animate__animated animate__backInUp animate__delay-10s">
        <div class="icon-box">
          <i class="bi bi-camera"></i>
          <h4>
            <a href="#">Branding</a>
          </h4>
          <p>Branding is the process of creating the brand identity of a company. This process also delivers materials that support the brand, like a logo, tagline, visual design, or tone of voice.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0 animate__animated animate__backInUp animate__delay-10s">
        <div class="icon-box">
          <i class="bi bi-stack"></i>
          <h4>
            <a href="#">Print Design</a>
          </h4>
          <p>Print design is a subset of graphic design where the design is first created digitally then printed out. Mostly used for branding and marketing purposes i.e. Business cards, flyers, and packaging.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="height_divider_1"></div>
</section>
