---
// Skills Cloud component with animated rotating tag cloud
---

<section id="skills_cloud" class="skills">
  <div id="skills_1" class="container">
    <div class="text-center">
      <div class="container_title">
        <div class="Title">
          <h1 class="Title_h1">SKILLS
            <div class="Title__highlight"></div>
          </h1>
          <div class="Title__underline"></div>
          <div aria-hidden class="Title__filled">SKILLS</div>
        </div>
      </div>
      <div class="height_divider_1"></div>
    </div>

    <div class="container">
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:85">
            <div class="range__label">REACT</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">VUE</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">ANGULAR</div>
          </div>
        </div>
      </div>

      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:85">
            <div class="range__label">NODE.JS</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:83">
            <div class="range__label">EXPRESS.JS</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:82">
            <div class="range__label">NEXT.JS</div>
          </div>
        </div>
      </div>

      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:98">
            <div class="range__label">HTML</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:95">
            <div class="range__label">CSS</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">JAVASCRIPT</div>
          </div>
        </div>
      </div>

      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">TYPESCRIPT</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:82">
            <div class="range__label">JSX</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">JQUERY</div>
          </div>
        </div>
      </div>

      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">PHP</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:82">
            <div class="range__label">LARAVEL</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">MySQL</div>
          </div>
        </div>
      </div>

      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">SQLIte</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:82">
            <div class="range__label">MONGODB</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">NoSQL</div>
          </div>
        </div>
      </div>

      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">REST API</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:82">
            <div class="range__label">AXIOS</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">GRAPHQL</div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">TAILWIND</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:82">
            <div class="range__label">MATERIAL UI</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:95">
            <div class="range__label">BOOTSTRAP</div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:95">
            <div class="range__label">PHOTOSHOP</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:85">
            <div class="range__label">ILLUSTRATOR</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:82">
            <div class="range__label">DREAMWEAVER</div>
          </div>
        </div>
      </div>
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">INDESIGN</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">PREMIERE PRO</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">AFTER EFFECTS</div>
          </div>
        </div>
      </div>
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">CINEMA 4D</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:85">
            <div class="range__label">PRO CREATE</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:83">
            <div class="range__label">SONY VEGAS PRO</div>
          </div>
        </div>
      </div>
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">BALSAMIQ</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:85">
            <div class="range__label">FIGMA</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:83">
            <div class="range__label">XD</div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:92">
            <div class="range__label">WORDPRESS</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">AEM</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:88">
            <div class="range__label">SHAREPOINT</div>
          </div>
        </div>
      </div>
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">SITEFINITY</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:85">
            <div class="range__label">ELEMENTOR</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:85">
            <div class="range__label">WOOCOMMERCE</div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">GIT</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:90">
            <div class="range__label">TFS</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">SOURCETREE</div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row skillsets">
        <div class="col-sm-4">
          <div class="range" style="--p:85">
            <div class="range__label">GOOGLE ANALYTYCS</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:81">
            <div class="range__label">GOOGLE SEARCH CONSOLE</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="range" style="--p:80">
            <div class="range__label">GOOGLE TAG MANAGER</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tag Cloud Section -->
  <br><br><br><br>
  <div class="container_cloud">
    <div id="Skill_2_cl" class="cloud">
    
        <div class="cloud-element">
          <img src="/assets/img/skills/PR.png" width="50" height="50" alt="Premiere Pro1" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Ae.png" width="50" height="50" alt="After Effects2" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/php.png" width="50" height="50" alt="PHP3" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Laravel.png" width="50" height="50" alt="Laravel4" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Python.png" width="50" height="50" alt="Python5" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Django.png" width="50" height="50" alt="Django6" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Java.png" width="50" height="50" alt="Java7" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Springboot.png" width="50" height="50" alt="Spring Boot8" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Mysq.png" width="50" height="50" alt="MySQL9" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/PostgreSQL.png" width="50" height="50" alt="PostgreSQL10" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/MonggoDB.png" width="50" height="50" alt="MongoDB11" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/SQLite.png" width="50" height="50" alt="SQLite12" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Axios.png" width="50" height="50" alt="Axios13" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Prisma.png" width="50" height="50" alt="Prisma14" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/git.png" width="50" height="50" alt="Git15" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/github.png" width="50" height="50" alt="GitHub16" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/sourcetree.png" width="50" height="50" alt="SourceTree17" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/jira.png" width="50" height="50" alt="JIRA18" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/wordpress.png" width="50" height="50" alt="WordPress19" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/aem.png" width="50" height="50" alt="Adobe AEM20" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/sitefinity.png" width="50" height="50" alt="Sitefinity21" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/sharepoint.png" width="50" height="50" alt="SharePoint22" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/elementor.png" width="50" height="50" alt="Elementor23" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/woo.png" width="50" height="50" alt="WooCommerce24" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Astro.png" width="50" height="50" alt="Astro25" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Vite.png" width="50" height="50" alt="Vite26" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/webpack.png" width="50" height="50" alt="Webpack27" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/npm.png" width="50" height="50" alt="NPM28" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/composer.png" width="50" height="50" alt="Composer29" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Vercel.png" width="50" height="50" alt="Vercel30" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/netlify.png" width="50" height="50" alt="Netlify31" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/bash.png" width="50" height="50" alt="Bash32" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/powershell.png" width="50" height="50" alt="PowerShell33" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/dw.png" width="50" height="50" alt="Dreamweaver34" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/lr.png" width="50" height="50" alt="Lightroom35" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/filmora.png" width="50" height="50" alt="Filmora36" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/photodex.png" width="50" height="50" alt="Photodex37" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/jquery.png" width="50" height="50" alt="jQuery38" />
        </div>
            <div class="cloud-element">
          <img src="/assets/img/skills/nest.png" width="50" height="50" alt="NestJS39" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/html.png" width="50" height="50" alt="HTML40" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/css.png" width="50" height="50" alt="CSS41" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/js.png" width="50" height="50" alt="JavaScrip42" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/TS.png" width="50" height="50" alt="TypeScript43" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/tailwind.png" width="50" height="50" alt="Tailwind44" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/bootstrap.png" width="50" height="50" alt="Bootstrap45" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/material.png" width="50" height="50" alt="Material UI46" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/figma.png" width="50" height="50" alt="Figma47" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/xd.png" width="50" height="50" alt="Adobe XD48" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/ps.png" width="50" height="50" alt="Photoshop49" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/ai.png" width="50" height="50" alt="Illustrator50" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Id.png" width="50" height="50" alt="InDesign51" />
        </div>
            <div class="cloud-element">
          <img src="/assets/img/skills/react.png" width="50" height="50" alt="React52" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Vue.png" width="50" height="50" alt="Vue53" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/Angular.png" width="50" height="50" alt="Angular54" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/node.png" width="50" height="50" alt="Node.js55" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/express.png" width="50" height="50" alt="Express56" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/next.png" width="50" height="50" alt="Next.js57" />
        </div>
        <div class="cloud-element">
          <img src="/assets/img/skills/nuxt.png" width="50" height="50" alt="Nuxt58" />
        </div>
    
      </div>
      <script src="/assets/js/cloud_tag_script.js" is:inline></script>
    </div>

    <div class="group">
      <div class="is-floated"></div>
      <div class="is-floated"></div>
      <div class="is-floated"></div>
    </div>
  </div>
</section>




<section id="skills_2" class="section-bg">
  <div class="container">
    <div class="height_divider_1"></div>
    <ul class="Words-text">
      <li class="Words-line">
        <p class="Words-p">REACT.JS</p>
        <p class="Words-p">EXPRESS</p>
      </li>
      <li class="Words-line">
        <p class="Words-p">NEXT.JS</p>
        <p class="Words-p">VANILLA.JS</p>
      </li>
      <li class="Words-line">
        <p class="Words-p">FIGMA</p>
        <p class="Words-p">ANGULAR</p>
      </li>
      <li class="Words-line">
        <p class="Words-p">REST API</p>
        <p class="Words-p">WORDPRESS</p>
      </li>
      <li class="Words-line">
        <p class="Words-p">Python</p>
        <p class="Words-p">MySQL</p>
      </li>
      <li class="Words-line">
        <p class="Words-p">JQUERY</p>
        <p class="Words-p">NODE.JS</p>
      </li>
      <li class="Words-line">
        <p class="Words-p">VUE.JS</p>
        <p class="Words-p">LARAVEL</p>
      </li>
    </ul>
  </div>
  <div class="height_divider_2"></div>
  <div class="clearfix">&nbsp;</div>
</section>
